body {
  background-image: url("https://www.johnbarrettblog.com/wp-content/uploads/2014/01/bigstock-Seamless-grunge-background-a-25217963-760x760.jpg");
  background-blend-mode: multiply;
  background-color: #3D3A39;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 1vmax;
  color: white;
}

.jumbotron {
  text-align: center;
}

.card-img-top{
  max-height: 280px;
}

label {
  color: white;
}

.space {
  margin-top: 200px;
}

.large {
  font-size: 30px;
}
