<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>MadLibs</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css'>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>MadLibs</h1>
      <em>Pick a theme!</em>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="https://brobible.files.wordpress.com/2017/10/heath-ledger-joker-new-interviews-book.jpg?quality=90&w=626" alt="joker">
        <div class="card-body">
          <h5 class="card-title">Scars</h5>
          <p class="card-text">Why so random?</p>
          <a href="/Game1Input" class="btn btn-dark">Try</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://cdn.newsapi.com.au/image/v1/24f1124114b3672d4f4a6199874a4730?width=1024" alt="jules">
        <div class="card-body">
          <h5 class="card-title">Fury</h5>
          <p class="card-text">He will do what with great what?</p>
          <a href="/Game2Input" class="btn btn-dark">Try</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
