<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in your name and your friend's name to create your custom postcard!</h1>
    <form action="/scars" method="post">

     <label for="thing">An Object</label>
     <input id="thing" name="thing" type="text">

     <label for="occupation">Occupation</label>
     <input id="occupation" name="occupation" type="text">

     <label for="verb">Present tense Verb</label>
     <input id="verb" name="verb" type="text">

     <label for="question">Interrogative Word</label>
     <input id="question" name="question" type="text">

     <label for="adjective">Adjective</label>
     <input id="adjective" name="adjective" type="text">

     <button type="submit">Go!</button>
    </form>
  </body>
</html>
